langchain
python-dotenv
langchain_community
langchain-groq
langchain-text-splitters
langchain-community
langchain-huggingface
langchain-core
langchain-classic
langchain-chroma
streamlit
sentence-transformers
pypdf
pymupdf
pdfminer
arxiv
wikipedia
faiss-cpu
langchainhub